html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
 }

body {
	background-image: url("../images/128-29.jpg");
	background-attachment: fixed;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: 'Kaushan Script';
	src: url('fonts/www.fontsquirrel.com');
}

#top {
	height: 80px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

#heading h1 {
	display: inline;
	padding: 20px;
	background-color: #4aaaa5;
	font-family: Kaushan Script, Georgia, serif;
	color: white;
	font-size: 20px;
	margin-left: 40px;
	margin-bottom: 0px;
}

nav {
	display: inline-block;
	float: right;
	margin-right: 85px;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #777777;
}

#Contactbox {
	float: left;
	width: 650px;
	height: 450px;
	background-color: #ffffff;
	margin-top: 10px;	
	margin-left: 20px;
	margin-bottom: 10px;
	color: #777777;
	border: 1px solid #cccccc;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 40px;	
}

.Media1 {
	color: #777777;
	margin-bottom: 5px;
	height: 10px;
	width: 185px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

#Contactbox h2 {
	color: #4aaaa5;
	font-size: 26px;
}

#Contactbox hr {
	padding: 10px;
	color: #777777;
	margin-bottom: 5px;
	height: 10px;
	width: 570px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8c8c inset;
}


h3 {
	color: #4aaaa5;
	font-size: 24px;	
}

input {
	width: 570px;
	height: 30px;
}

textarea {
	width: 250px;
	height: 100px;
}

button {
	width: 80px;
	height: 40px;
	background-color: #4aaaa5;
}

	
#MediaBox {
	height: 205px;
	width: 270px;
	background-color: #ffffff;
	margin-top: 10px;
	color: #777777;
	text-align: center;
	float: right;
	border: 1px solid #cccccc;
}

#MediaBox img {
	display: inline;
	height: 55px;
	width: 55px;
	margin-top: 25px;
	margin-left: 15px;	
	margin-right: auto;
}

footer {
	border-top: 10px solid #4aaaa5;
	padding: .05px;
	clear: both;
	background-color: #666666;
	height: 50px;
	width: 960px;
	color: white;
	text-align: center;
	font-size: 14px;
	margin-left: auto;	
	margin-right: auto;
}
